@model CategoryListModel
   <div class="border border-dark p-3 mb-2">
     Currently the category name <strong> @Model.Name </strong> you see blogs that are. <a asp-action="Index" class="float-right" >Remove Filter</a>
   </div>